name: build

on:
  push:
    tags:
      - v*
    branches:
      - master

jobs:
  maven-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up maven and java environment
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Perform the maven build
        run: mvn -B clean package --file app/pom.xml
      - uses: actions/upload-artifact@v3
        with:
          name: todolist-migrator-build-artifacts
          path: app/target/*.jar
  image-build-push:
    name: Docker image build and push to registry
    needs: maven-build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Login to the registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: anadinema/todolist-migrator
          tags: |
            type=pep440,pattern={{version}}
            type=ref,event=branch
          labels: |
            maintainer=anadinema
      - name: Download a maven build artifacts
        uses: actions/download-artifact@v3
        with:
          name: todolist-migrator-build-artifacts
      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: app
          file: app/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
