name: build

on:
  push:
    tags:
      - v*

jobs:
  maven-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up maven and java environment
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - run: cd app
      - name: Perform the maven build
        run: mvn -B clean package
      - uses: actions/upload-artifact@v3
        with:
          name: Build artifacts
          path: target/*.jar
  image-build-push:
    name: Docker image build and push to registry
    needs: maven-build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Login to the registry
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: anadinema/todolist-migrator
          tags: |
            type=pep440,pattern={{version}}
          labels: |
            maintainer=anadinema
      - name: Build and push Docker image
        uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
        with:
          context: app
          file: app/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
