name: ci
run-name: ci-run-${{ github.run_id }}.${{ github.run_attempt }}

on:
  push:
    tags: 
      - v*
    branches:
      - develop
  pull_request:
    branches:
      - master
      - develop

jobs:
  build-and-push:
    name: maven & docker build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to the registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: anadinema/todolist-migrator
          tags: |
            type=pep440,pattern={{version}}
            type=ref,event=branch
          flavor: |
            latest=${{ github.ref_type == 'tag' }}
          labels: |
            maintainer=anadinema
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: app
          push: ${{ github.ref_type == 'tag' }} || ${{ github.ref == format('refs/heads/{0}', 'develop') }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
